html{
    font-family: 'Roboto', sans-serif;
}
// Heading Text (Blog, Get in touch)
h1{
    font-family: 'Lora', serif;
    font-size: 130px;
    font-weight: bold;
    line-height: 92px;    
    letter-spacing: 0px;
    text-transform: uppercase;
}
// Heading Text
h2, h3, h4, h5{
    font-weight: bold;    
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}
// Heading Text (Who is Sophie, Sophie's Journey)
h2{    
    font-size: 42px;     
}
//Heading Text (Sophie's Favourite Things, Photo, Why)
h3{
    font-size: 32px;
}
//Heading Text (About Sophie, Recent Post)
h4, h5{
    font-size: 24px;
}
//Heading Text
h5{
    color: rgb(246, 246, 246);
}

p{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
    margin: 0;
}

